body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.fakeButton {
  cursor: pointer;
}
/*  */
#paint {
  width: 350px;
}
.circle {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
}
.section {
  margin-left: 60px;
}
.section div {
  margin: 0 1px;
}